rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function stuco() {
      return request.auth.token.roles.hasAny(["stuco", "admin"]);
    }
    match /clubs/{club_id} {
      // stuco can create, edit, and delete
      allow delete: if stuco();
      allow create: if stuco() && request.resource.data.keys().hasAll(["name", "description", "officers", "members"]);
      allow edit: if (stuco() || request.resource.officers.hasAll([request.auth.token.email])) &&
        (request.resource.data.diff(resource.data).affectedKeys().hasOnly(["name", "description", "officers", "members"]));

    }
  }
}