@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {  button:not(:disabled),  [role="button"]:not(:disabled) {    cursor: pointer;  }}

html, body, #app {
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
}


/* vue transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


[type="checkbox"]:checked,
[type="radio"]:checked {
  background-color: currentColor;
}
